@charset "UTF-8";
h1 {
    position: absolute;
width: 507px;
height: 216px;
left: 160px;
top: 118px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
/* or 112% */

display: flex;
align-items: center;

color: #F26463;
}
p {
    position: absolute;
width: 428px;
height: 160px;
left: 160px;
top: 358px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 32px;
/* or 160% */

display: flex;
align-items: center;

color: rgba(21, 21, 21, 0.5);

}
picture {
    position: absolute;
width: 442px;
height: 625px;
left: 876.81px;
top: 63px;

background: url(img1.png)
}
body {
    background: linear-gradient(to right, #FFD8F4 0%, rgba(243, 241, 243, 0.5) 100.85%); 
    background-attachment: fixed;
    
}
h2 {
    padding: 10px 8px;
}